html {
  margin: 0;
  padding: 0;
  background: #333;
  color: #333;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

body {
  width: 720px !important;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  /*border: 12px solid #333333;
  border-top: 20px solid #333333;
  border-bottom: 20px solid #333333;
  border-radius: 15px;*/
  box-shadow: 5px 5px 50px black;
  background-color: #dddddd;
}

[class*="ui-mobile-viewport"] [data-role="page"] {
  position: static;
  min-height: 0px !important;
}

/*Mobile styling*/
@media only screen and (max-width: 770px) {
  body {
    width: 100% !important;
    border: 1px solid blue;
    border-radius: 0px;
  }

  [class*="ui-mobile-viewport"] li a {
    font-size: 32px;
  }

  [class*="ui-mobile-viewport"] div h2 {
    font-size: 40px;
  }
  [class*="ui-mobile-viewport"] div p {
    font-size: 32px;
  }

  [class*="ui-mobile-viewport"] [role="heading"] {
    font-size: 32px;
    padding-bottom: 80px;
  }

  [data-role="header"] [data-role="button"] {
    position: absolute;
    top: 60px;
    padding: 15px;
    padding-left: 45px;
    font-size: 32px;
  }

  [id="btn_addNote"],
  [id="btn_editNote"] {
    padding: 15px;
    font-size: 32px;
  }

  input,
  textarea {
    font-size: 32px;
  }
}
